<h2>Word: <%= @word.word_name %></h2>

<h3>Definitions for this word:</h3>

  <% if @word.word_definitions %>
    <ul>
      <% @word.word_definitions.each do |word_definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= word_definition.id %>"><%= word_definition.definition_text %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>

<h4>Add another definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition_name"></label>
    <input id="definition_name" name="definition_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>


<form action="/words/<%= @word.id() %>/edit" method="get">
  <input name="_method" type="hidden" value="edit">
  <button type="submit" class="btn">Edit The Word</button>
</form>

<p><a href="/words">Return to word list</a></p>
